@import "../../utils/variables";

.sidebar__main {
    margin-top: 3rem;
    width: 12.5vw;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    color: white;
    border-right: 1px solid rgb(226, 226, 226);
    p {
        text-transform: uppercase;
        color: $darkteal;
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 1.8rem;
        margin-top: 1.8rem;
    }
}

.sidebar__drawer {
    display: block;
    height: 100%;
    background: $darkteal;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    overflow-x: scroll;
    color: white;
    width: 16rem;
    p {
        text-transform: uppercase;
        color: $darkteal;
        font-size: 0.8rem;
        font-weight: bold;
        margin-left: 1.8rem;
        margin-top: 1.8rem;
    }
}


#sidebarId::-webkit-scrollbar, #sidebarId2::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.list {
    white-space: nowrap; // force lines not to break
    color: $grey;
    line-height: 1;
    font-size: 0.8rem; // 75%
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0.7rem;
    border-radius: 5rem;
    padding: 0.6rem 2rem;
    border: 1px solid transparent;
    &:hover {
        border: 1px solid #37474f;
    }
    .material-icons {
        float: left;
        color:$grey;
        font-size: 0.85rem;
        margin-right: 0.5rem;
        line-height: 1;
    }
}

@media only screen and (max-width: 1280px) {
    #sidebarId {
        display: none;
    }
}

@media only screen and (max-width: 1550px) {
    .sidebar__main {
        width: 15vw;
    }
    .list {
        font-size: 0.7rem;
        .material-icons {
            font-size: 0.8rem;
        }
    }
}


@media only screen and (min-width: 2100px) {
    .sidebar__main {
        width: 12vw;
    }
}

@media only screen and (min-width: 2300px) {
    .sidebar__main {
        width: 11vw;
    }
}

@media only screen and (min-width: 2500px) {
    .sidebar__main {
        width: 10vw;
    }
}

@media only screen and (min-width: 2700px) {
    .sidebar__main {
        width: 9vw;
    }
}

@media only screen and (min-width: 3000px) {
    .sidebar__main {
        width: 8vw;
    }
}

