@import "../../utils/variables";
@import 'node_modules/react-modal-video/scss/modal-video.scss';

.wrapper {
    //background-color: blue;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.movie__wrapper {
    //background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 95rem;
    margin: 0 auto;
    margin-bottom: 7rem;
}

.image__wrapper {
    margin-left: 14vw;
    //background-color: red;
    width: 100%;
    max-width: 40%;
    flex: 1 1 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 4rem;
    img {
        max-height: 100%;
        max-width: 100%;
        border-radius: 0.8rem;
    }
}

.movie__details {
    //background-color: yellow;
    width: 100%;
    max-width: 60%;
    padding: 2rem;
    flex: 1 1 60%;
    h3 {
        text-transform: uppercase;
        color: $darkteal;
        margin-bottom: 1rem;
    }

    h4 {
        font-size: 0.9rem;
        text-transform: uppercase;
        color: $darkteal;
        margin-bottom: 1rem;
    }

    h5 {
        font-size: 0.7rem;
        color: $teal;
        text-transform: uppercase;
        margin-right: 2rem;
        margin-bottom: 2rem;
    }
    article {
        color: $darkteal;
        font-size: 0.9rem;
        line-height: 1.8;
        margin-bottom: 2rem;
    }
    span {
        font-weight: bold;
        font-size: 0.9rem;
    }
    
    .trailer__button { 
        cursor: pointer;
        color: $darkteal;
        background-color: white;
        border: 1px solid $darkteal;
        justify-content: space-around;
        padding: 0.7rem 2.4rem;
        border-radius: 5rem;
        line-height: 1;
        font-weight: 500;
        font-size: 0.8rem;
        width: auto;
        transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
	    -webkit-transition: all 0.1s linear;
	    -o-transition: all 0.1s linear;
        -ms-transition: all 0.1s linear;
        margin-right: 0.9rem;
        float: left;
        &:hover {
            color: white;
            background-color: $darkteal;
            border: 1px solid white;
            transition: all 0.1s linear;
            transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
	        -webkit-transition: all 0.1s linear;
	        -o-transition: all 0.1s linear;
	        -ms-transition: all 0.1s linear;
        }
        &:focus {
            outline: 0;
        }
    }
}

#inversed {
    margin-right: 0rem;
    float: right;
    color: white;
    background-color: $darkteal;
    border: 1px solid $darkteal;
    &:hover {
        color: $darkteal;
        background-color: white;
        border: 1px solid $darkteal;
    }
}


.header__wrapper {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 200;
    color: $darkteal;
    text-transform: uppercase;
}

.link__wrapper {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: left;
    margin-bottom: 1rem;
    img {
        width: 4rem;
        margin-right: 1rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
        background-color: transparent;
    }
}

@media only screen and (min-width: 3000px) {
    .image__wrapper {
        margin-left: 0vw;
        max-width: 50%;
        flex: 1 1 50%;
    }
    .movie__wrapper {
        max-width: 80rem;
    }
    .movie__details {
        padding: 0rem;
        max-width: 50%;
        flex: 1 1 50%;
    }
}

@media only screen and (max-width: 1280px) {
    .image__wrapper {
        margin-top:  4rem;
        margin-left: 0vw;
    }

    .movie__details {
        margin-top: 4rem;
        .trailer__button { 
            font-size: 0.7rem;
            padding: 0.7rem 2rem;
        }
    }
}

@media only screen and (max-width: 900px) {
    .movie__wrapper {
        flex-direction: column;
    }

    .movie__details {
        padding: 0;
        max-width: 90%;
        margin-top: 0rem;
    }

    .image__wrapper {
        max-width: 50%;
    }

    .header__wrapper {
        font-size: 1.7rem;
    }
    .link__wrapper {
        img {
            width: 3rem;
            height: 3rem;
        }
    }
}

@media only screen and (max-width: 600px) {
    .link__wrapper {
        img {
            width: 2.5rem;
            height: 2.5rem;
            margin-right: 1rem;
        }
    }
    .movie__details {
        .trailer__button {
            padding: 0.5rem 1.6rem;
        }
    }
}

@media only screen and (max-width: 480px) {
    .trailer__container {
        float: none;
        display: inline-block;
    }
    #inversed {
       margin-top: 2.5rem;
       float: none;
       display: block;
       clear: both;
    }
}

@media only screen and (max-width: 320px) {
    .link__wrapper {
        img {
            margin-right: 0.6rem;
        }
    }
    .movie__details {
        .trailer__button {
            padding: 0.4rem 1.2rem;
        }
    }
}

