@import "../../utils/variables";

.cast__main__container {
    width: auto;
    margin-left: 14vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 15rem));
    justify-content: space-evenly;
    align-content: space-between;
    align-items: start;
}

.cast__item {
    width: 8rem;
    max-width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        border-radius: 9px;
    }
    .cast__title {
        padding-top: 1rem;
        text-align: center;
        color: $teal;
        font-size: 85%;
    }
}