@import "../../utils/variables";

.main__container {
    width: auto;
    margin-left: 14vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem));
    justify-content: space-evenly;
    align-content: space-between;
    align-items: start;
}

.poster__item {
    width: 16rem;
    max-width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        border-radius: 9px;
    }
    .poster__title {
        padding-top: 1rem;
        text-align: center;
        color: $teal;
        font-size: 85%;
    }
}

.top__title__container {
    display: grid;
    margin: auto;
    text-align: left;
    padding-bottom: 3rem;
    margin-right: 0vw;
}

.bottom__container {
    margin: auto;
    text-align: right;
    padding-bottom: 3rem;
    margin-right: 0vw;
    button {
        cursor: pointer;
        color: white;
        background-color: $darkteal;
        border: 1px solid transparent;
        margin-left: 13.5vw;
        display: inline-block;
        justify-content: space-around;
        padding: 0.6rem 3rem;
        border-radius: 5rem;
        line-height: 1;
        font-weight: 500;
        font-size: 1rem;
        width: auto;
        transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
	    -webkit-transition: all 0.1s linear;
	    -o-transition: all 0.1s linear;
	    -ms-transition: all 0.1s linear;
        &:hover {
            color: $darkteal;
            background-color: white;
            border: 1px solid $darkteal;
            transition: all 0.1s linear;
            transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
	        -webkit-transition: all 0.1s linear;
	        -o-transition: all 0.1s linear;
	        -ms-transition: all 0.1s linear;
        }
        &:focus {
            outline: 0;
        }
    }
}

.left__title {
    margin-left: 13.5vw;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $teal;
    font-weight: 300;
    .second__title {
        color: $darkteal;
        font-size: 1rem;
        font-weight: bold;
        float: left;
    }
}

.bottom__button__margin__right {
    margin-right: 1.2rem;
}

@media only screen and (max-width: 600px) {
    .bottom__container
        button {
            padding: 0.4rem 1.7rem;
    }
}

@media only screen and (max-width: 1550px) {
    .main__container {
        margin-left: 16vw;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 16rem));
    }

    .poster__item {
        width: 14rem;
        .poster__title {
            font-size: 80%;
        }
    }

    .bottom__container button {
        margin-left: 16vw;
        font-size: 0.8rem;
    }

    .left__title {
        margin-left: 16vw;
    }
}


@media only screen and (min-width: 2100px) {
    .main__container {
        margin-left: 13vw;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 17rem));
    }

    .poster__item {
        margin: 2rem 0;
    }

    .bottom__container button, .left__title {
        margin-left: 13vw;
    }
}

@media only screen and (min-width: 2300px) {
    .main__container {
        margin-left: 12vw;
    }

    .bottom__container button, .left__title {
        margin-left: 12.5vw;
    }
}

@media only screen and (min-width: 2500px) {
    .main__container {
        margin-left: 11vw;
    }

    .bottom__container button, .left__title {
        margin-left: 11.3vw;
    }
}

@media only screen and (min-width: 2600px) {
    .main__container {
        margin-left: 9.7vw;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 17rem));
    }

    .bottom__container button, .left__title {
        margin-left: 10vw;
    }
}

@media only screen and (min-width: 3000px) {
    .main__container {
        margin-left: 8.5vw;
        margin-top: 0vh;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    }

    .poster__item {
        margin-top: 2rem;
        margin-right: 2.1rem;
        margin-left: 0;
        width: 19rem;
    }
    
    .bottom__container button, .left__title{
        margin-left: 9.1vw;
    }
    .left__title {
        margin-top: 10vh;
    }

    .bottom__button__margin__right {
        margin-right: 1vw;
    }
}  


@media only screen and (min-width: 4000px) {
    .main__container {
        margin-left: 9.5vw;
        margin-top: 0vh;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 28.9rem));
    }

    .poster__item {
        margin-top: 2rem;
        margin-right: 2.1rem;
        margin-left: 0;
        width: 25rem;
    }
    
    .bottom__container button, .left__title {
        margin-left: 9.5vw;
        }
    .left__title {
        margin-top: 10vh;
    }
    .bottom__button__margin__right {
        margin-right: 1.2vw;
    }
} 

@media only screen and (max-width: 1280px) {
    .main__container {
        margin-left: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
    }

    .bottom__container button {
        margin-left: 1.2rem;
        font-size: 0.8rem;
    }

    .left__title {
        margin-left: 1.2rem;
    }

    .top__title__container {
        margin-top: 5rem;
    }
}

@media only screen and (max-width: 520px) {
    .main__container {
        margin-left: 0.25rem;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 11rem));
    }
}


@media only screen and (max-width: 360px) {
    .main__container {
        grid-template-columns: repeat(auto-fit, minmax(8rem, 9rem));
    }
}