.main__container {
    width: auto;
    margin-left: 14vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 18rem));
    justify-content: space-evenly;
    align-content: space-between;
    align-items: start; 
}

.poster__item {
    width: 16rem;
    max-width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
    img {
        width: 100%;
        height: auto;
        border-radius: 9px;
    }
    .poster__title {
        text-align: center;
    }
}

.bot {
    margin: auto;
    text-align: right;
    padding-bottom: 3rem;
    margin-right: 0vw;
    button {
        color: white;
        background-color: rgb(51, 51, 51);
        border: 1px solid transparent;
        margin-left: 13.5vw;
        display: inline-block;
        justify-content: space-around;
        padding: 0.6rem 3rem;
        border-radius: 5rem;
        line-height: 1;
        font-weight: 500;
        font-size: 1rem;
        width: auto;
        transition: all 0.1s linear;
        -moz-transition: all 0.1s linear;
	    -webkit-transition: all 0.1s linear;
	    -o-transition: all 0.1s linear;
	    -ms-transition: all 0.1s linear;
        &:hover {
            color: black;
            background-color: white;
            border: 1px solid black;
            transition: all 0.1s linear;
            transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
	        -webkit-transition: all 0.1s linear;
	        -o-transition: all 0.1s linear;
	        -ms-transition: all 0.1s linear;
        }
        &:focus {
            outline: 0;
        }
    }
}

.right {
    margin-right: 1vw;
}

@media only screen and (max-width: 600px) {
    .bot 
        button {
            padding: 0.4rem 1.7rem;
    }
}

@media only screen and (min-width: 2100px) {
    .main__container {
        margin-left: 13vw;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 17rem));
    }

    .poster__item {
        margin: 2rem 0;
    }

    .bot button {
        margin-left: 13vw;
    }
}

@media only screen and (min-width: 2300px) {
    .main__container {
        margin-left: 12vw;
    }

    .bot button {
        margin-left: 12.5vw;
    }
}

@media only screen and (min-width: 2500px) {
    .main__container {
        margin-left: 11vw;
    }

    .bot button {
        margin-left: 11.3vw;
    }
}

@media only screen and (min-width: 2600px) {
    .main__container {
        margin-left: 9.7vw;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 17rem));
    }

    .bot button {
        margin-left: 10vw;
    }
}

@media only screen and (min-width: 3000px) {
    .main__container {
        margin-left: 8.5vw;
        margin-top: 10vh;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    }

    .poster__item {
        margin-top: 2rem;
        margin-right: 2.1rem;
        margin-left: 0;
        width: 19rem;
    }
    
    .bot {
        button {
            margin-left: 9.1vw;
        }
    .right {
        margin-right: 1vw;
    }
    }  
}

@media only screen and (min-width: 4000px) {
    .main__container {
        margin-left: 9.5vw;
        margin-top: 10.3vh;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 28.9rem));
    }

    .poster__item {
        margin-top: 2rem;
        margin-right: 2.1rem;
        margin-left: 0;
        width: 25rem;
    }
    
    .bot {
        button {
            margin-left: 9.5vw;
        }
    .right {
        margin-right: 1.2vw;
    }
    } 
}